<!-- Audiophile starting html -->
<div class="audiophile myWorks-header res-container"> 
    <a routerLink="/projects" class="go-back">Go back</a>
    <div class="myWorks-img">
        <div class="top-img"></div>
    </div>
    <br>
    <hr><br>
    
    <div class="myWorks-description">
 
        <div class="project-background">
            <h2>Project Background</h2>
            <p>
                This project was a front-end challenge from Frontend Mentor.
                Creating this project has helped me solve real-world coding problems.
                During this particular project I've learnt how to use Angular as a framework and Firebase as a database resource, combining the two to build this challenging project.
            </p>
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="tools_btn">HTML</a><span>/</span>
            <a href="https://sass-lang.com/" target="_blank" class="tools_btn">SASS</a><span>/</span>
            <a href="https://mdbootstrap.com/docs/angular/" target="_blank" class="tools_btn">MDB</a><span>/</span>
            <a href="https://angular.io/" target="_blank" class="tools_btn">Angular</a><span>/</span>
            <a href="https://www.typescriptlang.org/" target="_blank" class="tools_btn">TypeScript</a><span>/</span>
            <a href="https://console.firebase.google.com/" target="_blank" class="tools_btn">Firebase</a>
            <br>
            <hr>
            <br>
            <a 
            href="https://audiophile-e-commerce.web.app/" 
            target="_blank" 
            class="default_btn" 
            id="btn">Visit Website</a>
        </div>

        <div class="static-previews">
            <h2>Static Previews</h2>
            <div class="static-img">
                <div class="img-1"></div>
                <div class="img-2"></div>
            </div>       
        </div>
        
    </div>


    <div class="buttons">
        <a 
        routerLink="/projects/loopstudio" 
        class="prew_btn">
            <i class="fas fa-angle-left"></i>
            Loopstudio
            <span>Previous Project</span>
        </a>

        <a 
        routerLink="/projects/weather" 
        class="next_btn">
            <i class="fas fa-angle-right"></i>
            Weather App
            <span>Next Project</span>
        </a>
    </div>  
    
</div>