@import '../../../../scss/global.scss';

.top-img {
    background-image: url('../../../../assets/audiophile/audiophile_full.png');
}

.img-1 {
    background-image: url('../../../../assets/audiophile/audiophile_inner.webp');
}

.img-2 {
    background-image: url('../../../../assets/audiophile/audiophile_checkout.png');
}


        
      
           