// Import global SCSS-including all scss files
@import '../../../scss/global.scss';

// Styling About-me
.about {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;

    // Manualy applied the mediaQuery
    @media (max-width: 60.9375rem) {
        align-items: center;
        flex-direction: column;    
        margin-bottom: 3rem;   
    }
        
    // THe box-1, 2, and 3 is styled for the image hover
    .box-1 {
        background-color: rgba($slightDesaturatedCyan, 1);
        width: 23.75rem;
        height: 28.375rem;
        position: relative;

        @include respond(phone) {
            width: 18.75rem;
        }
        
        .box-2 {
            background-color: rgba($darkBlue, 1);
            width: 23.75rem;
            height: 30.375rem;
            position: absolute;
            left: 0;
            top: -0.9375rem;
            transition: all 0.3s ease-in-out;

            @include respond(phone) {
                width: 18.75rem;
            }

            .box-3 {
                background-color: $veryLightGrey;
                width: 23.75rem;
                height: 33.375rem;
                position: relative;
                position: absolute;
                left: 0;
                top: -0.9375rem;
                box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                @include respond(phone) {
                    width: 18.75rem;
                }

                .about-me-img {
                    height: 100%;
                    background-image: url('../../../assets/about-img/about_me_img.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }

    .about-me-description {
        width: 24.375rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 7.1875rem;

        
        @include respond(desktop) {
            margin-right: 0px;
        }

        @media (max-width: 60.9375rem) {
            width: 70%;
            margin-top: 6rem;    
            align-items: center;
        }
        
        @include respond(tablet) {
            width: 100%;
        }


        h2 {
            margin-bottom: 2rem;
        }

        p {

            @media (max-width: 60.9375rem) {
                text-align: left;
            }

        }

        #btn {
            width: 14.375rem;
            text-align: center;
            padding-left: 1.437rem;
            padding-right: 1.437rem;
            margin-top: 2rem;

            @include respond(phone) {
                width: 13.125rem;
                font-size: 0.7rem;
            }
        }
    }
}

hr {
    width: 70%;
    margin: 0 auto;
}

//Skills styling!
.skills {
    margin: 3rem 0;
    
    
    h2 {
        margin-bottom: 2rem;
        text-align: center;

    }

    &__box {

        .html-css {
            .fa-html5 {
                color: #ff0000;
                margin-right: 0.3125rem;
            }

            .fa-css3-alt {
                color: #0000ff;
                margin-left: 0.3125rem;
            }

            .progress-bar {
                width: 85%;
                background-color: $grayishDarkBlue;
                // background: linear-gradient(90deg, rgba(121,9,9,1) 29%, rgba(0,14,255,1) 100%);
            }
        }

        .sass {
            .fa-sass {
                color: #800080;
            }

            .progress-bar {
                width: 70%;
                background-color: $grayishDarkBlue;
                // background: linear-gradient(90deg, rgba(128,0,128,1) 30%, rgba(0,14,255,0) 50%, rgba(128,0,128,1) 70%);
            }
        }

        .bootstrap {
            .fa-bootstrap {
                color: #8212FA;    
            }

            .progress-bar {
                width: 90%;
                background-color: $grayishDarkBlue;
                // background: linear-gradient(90deg, rgba(130,18,250,1) 24%, rgba(181,112,255,1) 79%);
            }
        }

        .javaScript {
            .fa-js {
                color: #FCDC00;
            }

            .progress-bar {
                width: 50%;
                background-color: $grayishDarkBlue;
                // background: linear-gradient(90deg, rgba(252,220,0,1) 25%, rgba(115,111,84,1) 63%);
            }
        }

        .angular {
            .fa-angular {
                color: #C3002F;
            }

            .progress-bar {
                width: 35%;
                background-color: $grayishDarkBlue;
                // background: linear-gradient(90deg, rgba(195,0,47,1) 26%, rgba(193,49,81,1) 89%);
            }
        }

    }
    
    
}
// Procent and title
.title {
    font-size: 1.5rem;

    @include respond(phone) {
        font-size: 1.2rem;
    }
}

.procent {
    float: right;
    font-size: 1rem;
    font-weight: bold;
    font-family: $public-sans;

    @include respond(phone) {
        font-size: 0.8rem;
    }
    
    // clearfix
    &::after {
        content: '';
        clear: both;
    }
}

// Progress bar
.progress {
    height: 1.25rem;
    margin: 0.8rem 0;

    @include respond(phone) {
        height: 1rem;
    }
}
