<!-- About-me starting html -->
<article class="about res-container">

    <!-- Multiple boxes with hover effect -->
    <div class="box-1">
        <div class="box-2" #box2>
            <div class="box-3" #box3>
                <div class="about-me-img"></div>
            </div>
        </div>
    </div>

    <div class="about-me-description">
        <h2>About me</h2>
        <p>
            I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible HTML, using modern CSS practices and writing clean JavaScript. For framework I am using Angular, 
            but I can adapt to whatever tools are required. When I’m not coding, I love spending time walking my little Jack Russel puppy Maya, but also having fun and collecting memories with my friends.
        </p>

        <a routerLink="/projects" class="default_btn" id="btn">Check out my Works</a>
    </div>

</article>
<br>
<hr>
<!-- About-me ending html -->

<!-- Skills start html -->
<div class="skills res-container">
    <!-- Skills title -->
    <h2>My Skills</h2>

    <!-- What I know.. -->
    <div class="skills__box">
        <div class="html-css">
            <span class="title"><i class="fab fa-html5"></i>/<i class="fab fa-css3-alt"></i></span>
            <span class="procent">85%</span>
            <div class="progress">
                <div 
                class="progress-bar" 
                role="progressbar" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"></div>
            </div>
        </div>
        
        <div class="sass">
            <span class="title"><i class="fab fa-sass"></i></span>
            <span class="procent">70%</span>
            <div class="progress">
                <div 
                class="progress-bar" 
                role="progressbar" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"></div>
            </div>
        </div>

        <div class="bootstrap">
            <span class="title"><i class="fab fa-bootstrap"></i></span>
            <span class="procent">90%</span>
            <div class="progress">
                <div 
                class="progress-bar" 
                role="progressbar" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"></div>
            </div>
        </div>
        
        <div class="javaScript">
            <span class="title"><i class="fab fa-js"></i></span>
            <span class="procent">50%</span>
            <div class="progress">
                <div 
                class="progress-bar" 
                role="progressbar" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"></div>
            </div>
        </div>

        <div class="angular">
            <span class="title"><i class="fab fa-angular"></i></span>
            <span class="procent">35%</span>
            <div class="progress">
                <div 
                class="progress-bar" 
                role="progressbar" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>

<!-- Skills end html! -->