<!-- About-me starting html -->
<article class="about res-container">

    <!-- Multiple boxes with hover effect -->
    <div class="box-1">
        <div class="box-2" #box2>
            <div class="box-3" #box3>
                <div class="about-me-img"></div>
            </div>
        </div>
    </div>

    <div class="about-me-description">
        <h2>About me</h2>
        <p>
            I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible HTML, using modern CSS practices and writing clean JavaScript. When writing JavaScript code, I mostly use React, but I can adapt to whatever tools are required. I’m based in London, UK, but I’m happy working remotely and have experience in remote teams. When I’m not coding, you’ll find me outdoors. I love being out in nature whether that’s going for a walk, run or cycling. I’d love you to check out my work.
        </p>

        <a routerLink="/projects" class="default_btn" id="btn">Check out my Works</a>
    </div>

</article>
<br>
<hr><br>
<!-- About-me ending html -->

<!-- Skills start html -->
<div class="skills res-container">

    <h1>My Skills</h1>

    <!-- The skills I learned-->
    <div class="skills__box res-container">

        <div class="HTML">
            <h2 class="title">Html</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>80%</span></div>
            </div>
        </div>
    
        <div class="CSS">
            <h2 class="title">Css</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>80%</span></div>
            </div>
        </div>
    
        <div class="JS">
            <h2 class="title">JavaScript</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>60%</span></div>
            </div>
        </div>
    
        <div class="SCSS">
            <h2 class="title">Scss</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>75%</span></div>
            </div>
        </div>
    
        <div class="ANGULAR">
            <h2 class="title">Angular</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>45%</span></div>
            </div>
        </div>
    
        <div class="TYPESCRIPT">
            <h2 class="title">Typescript</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemax="100"><span>35%</span></div>
            </div>
        </div>
    </div>
    
</div>

<!-- Skills end html! -->