// styling the link buttons
.items {
    text-decoration: none;
    text-transform: uppercase;
    color: $darkBlue;
    font-family: $public-sans;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    transition: 0.1s;

    &:hover {
        color: $slightDesaturatedCyan;
    }
}

// Default buttons
.default_btn {
    display: inline-block;
    text-decoration: none;
    color: $darkBlue;
    padding: 0.625rem 2.437rem;
    font-family: $public-sans;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.09375rem;
    border: 0.09375rem solid $grayishDarkBlue;
    cursor: pointer;

    &:hover {
        color: $lightGrey;
        background-color: $darkBlue;
    }
}

// Button for tools I used
.tools_btn {
    display: inline-block;
    color: $slightDesaturatedCyan;
    margin-bottom: 2rem;
    padding: 0.125rem 1.0625rem; 
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s; 

    @include respond(desktop) {
        font-size: 0.9rem;
    }

    @include respond(tablet) {
        font-size: 0.8rem;
    }

    &:hover {
        background-color: $darkBlue;
        color: $lightGrey;
    }
}

// Prew btn for the projects
.prew_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: $darkBlue;
    font-size: 1.6rem;
    font-family: $ibarra;
    font-weight: 700;
    letter-spacing: $H2-LS;
    position: relative;
    padding-left: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.2s;

    @include respond(phone) {
        font-size: 1rem;
    }

    &:hover {
        padding-left: 2.5rem;
    }

    i {
        position: absolute;
        top: 1.875rem;
        left: 0;
    }

    span {
        color: $grayishDarkBlue;
        font-size: 0.8rem;
        font-family: $public-sans;
        font-weight: 400;

        @include respond(phone) {
            font-size: 0.6rem;
        }
    }       
}
// Next btn for the projects
.next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: $darkBlue;
    font-size: 1.6rem;
    font-family: $ibarra;
    font-weight: 700;
    letter-spacing: $H2-LS;
    position: relative;
    padding-right: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.2s;

    @include respond(phone) {
        font-size: 1rem;
    }

    &:hover {
        padding-right: 2.5rem;
    }

    i {
        position: absolute;
        top: 1.875rem;
        right: 0;
    }

    span {
        color: $grayishDarkBlue;
        font-size: 0.8rem;
        font-family: $public-sans;
        font-weight: 400;

        @include respond(phone) {
            font-size: 0.6rem;
        }
    } 
}

// Go back btn for my works
.go-back {
    display: inline-block;
    color: $grayishDarkBlue;
    font-size: 1rem;
    font-family: $public-sans;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;

    &::before {
        content: '<';
        margin-right: 0.5rem;
        transition: 0.2s;
    }

    &:hover {
        color: $slightDesaturatedCyan;

        &::before {
            margin-right: 1rem;
        }
    }
}