// Primary-Colors: 
$slightDesaturatedCyan: #5fb4a2;
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;

// Secondary-Colors:
$veryLightGrey: #fafafa; //(BG)
$lightGrey: #eaeaeb; //(TEXT FIELD)  

// Font Family: Ibarra-real-nova , Public-sans
// H-tags
$ibarra: 'Ibarra Real Nova', serif;
// body
$public-sans: 'Public Sans', sans-serif;

// Font-Size: (1rem = 16px)
$H1: 3.125rem;
$H2: 2.5rem;
$H3: 2rem; 

$body: 1rem;

// Font-Weight:
$H1-weight: 700;
$H2-weight: 700;
$H3-weight: 400;

$body-weight: 400;

// Line-Height: 
$H1-LH: 3.125rem;
$H2-LH: 3.625rem;
$H3-LH: 2.25rem;

$body-LH: 1.875rem;

// Letter-spacing
$H1-LS: 0.028125rem;
$H2-LS: 0.0225rem;
$H3-LS: 0.018125rem;