<!-- Easy-Bank starting html -->
<div class="easyBank-header res-container"> 
    <div class="easyBank-header-img">
        <div class="top-img"></div>
    </div>
    <br>
    <hr><br>
    
    <div class="description">
        <div class="requirements">
            <h1>Requirements</h1>
            <p>I used the following tools for build this website:</p>
            <a href="" class="tools_btn">HTML</a><span>/</span>
            <a href="" class="tools_btn">SASS</a><span>/</span>
            <a href="" class="tools_btn">JavaScript</a>
            <br>
            <a 
            href="https://imre17.github.io/easybank_project/" 
            target="_blank" 
            class="default_btn" 
            id="btn">Visit Website</a>
        </div>

        <div class="project-background">
            <h2>Project Background</h2>
            <p>
                This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the features section. Interaction Design / Front End Development HTML / CSS / JS Visit Website Project Background This project was a front-end challenge from Frontend Mentor. It’s a platform that enables you to practice building websites to a design and project brief. Each challenge includes mobile and desktop designs to show how the website should look at different screen sizes. Creating these projects has helped me refine my workflow and solve real-world coding problems. I’ve learned something new with each project, helping me to improve and adapt my style.
            </p>

        </div>
    </div>

    <br>
    <hr><br>

    <div class="static-previews">
        <h2>Static Previews</h2>
        <div class="static-img">
            <div class="img-1"></div>
            <div class="img-2"></div>
        </div>       
    </div>

    <div class="buttons">
        <a 
        routerLink="/projects/audiophile" 
        class="prew_btn">
            <i class="fas fa-angle-left"></i>
            Audiophile 
            <span>Previous Project</span>
        </a>

        <a 
        routerLink="/projects/loopstudio" 
        class="next_btn">
            <i class="fas fa-angle-right"></i>
            Loopstudio 
            <span>Next Project</span>
        </a>
    </div>  
    
</div>