@import '../../../../scss/global.scss';

.easyBank-header {
    margin: 3rem 0;
    
    .easyBank-header-img {
        width: 100%;
        height: 31.25rem;
        box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);

        @include respond(tablet) {
            height: 25rem;
        }
        
        @include respond(phone) {
            height: 18.75rem;
        }

        .top-img {
            max-width: 100%;
            height: 100%;
            background-image: url('../../../../assets/easyBank/full_page_easy_bank.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .description {
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .requirements {
            width: 22.8125rem;

            @media (max-width: 1335px) {
                width: 21.8125rem;
            }

            @include respond(desktop) {
                width: 19.8125rem;
            }
            
            @include respond(tab-land) {
                width: 100%;
                text-align: center;
            }


            h1 {
                color: $darkBlue;
                font-size: $H1;
                font-family: $ibarra;
                font-weight: $H1-weight;
                letter-spacing: $H1-LS;

                @include respond(desktop) {
                    font-size: 2.3rem;
                }
                
                @include respond(tablet) {
                    font-size: 1.5rem;
                }
                
            }

            p {
                color: $grayishDarkBlue;
                font-size: $body;
                font-weight: $body-weight;
                line-height: $body-LH;
                margin: 1rem 0;

                @include respond(desktop) {
                    font-size: 0.9rem;
                }
                
                @include respond(tablet) {
                    font-size: 0.8rem;
                }
            }

            span {
                margin: 0.9375rem;

                @include respond(desktop) {
                    margin: 0.537rem;
                }
            }

            #btn {
                font-size: 0.7rem;
                padding: 0.525rem 1.437rem;
                
                @include respond(tablet) {
                    font-size: 0.6rem;
                    padding: 0.225rem 1.037rem;
                }
            }
        }

        .project-background {
            width: 40.3125rem;

            @media (max-width: 1335px) {
                width: 35.8125rem;
            }

            @include respond(desktop) {
                width: 25.8125rem;
            }
            
            @include respond(tab-land) {
                width: 100%;
                margin-bottom: 1.25rem;
            }

            h2 {
                color: $darkBlue;
                font-size: $H2;
                font-weight: $H2-weight;
                font-family: $ibarra;
                letter-spacing: $H2-LS;

                @include respond(desktop) {
                    font-size: 2rem;
                }
                
                @include respond(tab-land) {
                    text-align: center;
                }

                @include respond(tablet) {
                    font-size: 1.5rem;
                }
            }

            p {
                color: $grayishDarkBlue;
                font-size: $body;
                font-weight: $body-weight;
                line-height: $body-LH;
                margin-top: 1rem;
                margin-bottom: 2rem;

                @include respond(desktop) {
                    font-size: 0.9rem;
                }

                @include respond(tablet) {
                    font-size: 0.8rem;
                }
            }
            
        }
    }
    .static-previews {

        h2 {
            text-align: center;
            color: $darkBlue;
            font-size: $H2;
            font-weight: $H2-weight;
            font-family: $ibarra;
            letter-spacing: $H2-LS;
            margin-bottom: 3rem;

            @include respond(desktop) {
                font-size: 2rem;
            }

            @include respond(tablet) {
                font-size: 1.5rem;
            }
        }
        
        .static-img {
            display: flex;

            @include respond(tablet) {
                flex-direction: column;
            }

            .img-1 {
                width: 100%;
                height: 25rem;
                background-image: url('../../../../assets/easyBank/bottom_easy_bank.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
                margin-right: 2rem;

                @include respond(tablet) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }
            
            .img-2 {
                width: 100%;
                height: 25rem;
                background-image: url('../../../../assets/easyBank/easy_bank_mid.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
            }
        }  

    }
    .buttons {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        border-top: 0.0625rem solid rgba($grayishDarkBlue, 0.3);
        border-bottom: 0.0625rem solid rgba($grayishDarkBlue, 0.3);
    }
}