@import '../../../../scss/global.scss';

.top-img {
    background-image: url('../../../../assets/easyBank/full_page_easy_bank.png');
}

.img-1 {
    background-image: url('../../../../assets/easyBank/bottom_easy_bank.png');
}

.img-2 {
    background-image: url('../../../../assets/easyBank/easy_bank_mid.png');
}


        
      
           