@import '../../../../scss/global.scss';

.top-img {
    background-image: url('../../../../assets/weather/weather_top.jpeg');
}

.img-1 {
    background-image: url('../../../../assets/weather/weather_app_text.png');
}

.img-2 {
    background-image: url('../../../../assets/weather/weather_app_full.png');
}

