<!-- Weather App starting html -->
<div class="weather myWorks-header res-container"> 
    <a routerLink="/projects" class="go-back">Go back</a>
    <div class="myWorks-img">
        <div class="top-img"></div>
    </div>
    <br>
    <hr><br>
    
    <div class="myWorks-description">
 
        <div class="project-background">
            <h2>Project Background</h2>
            <p>
               This project was another mile stone when developing my skills as I was mainly focusing on UX, rather than UI, for getting to know how to integrate API requests into a webpage. 
            </p>
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="tools_btn">HTML</a><span>/</span>
            <a href="https://sass-lang.com/" target="_blank" class="tools_btn">Css</a><span>/</span>
            <a href="https://www.javascript.com/" target="_blank" class="tools_btn">JavaScript</a><span>/</span>
            <a href="https://en.wikipedia.org/wiki/API" target="_blank" class="tools_btn">API</a>
            <br>
            <hr>
            <br>
            <a 
            href="https://imre17.github.io/weather-app/" 
            target="_blank" 
            class="default_btn" 
            id="btn">Visit Website</a>
        </div>

        <div class="static-previews">
            <h2>Static Previews</h2>
            <div class="static-img">
                <div class="img-1"></div>
                <div class="img-2"></div>
            </div>       
        </div>
        
    </div>


    <div class="buttons">
        <a 
        routerLink="/projects/audiophile" 
        class="prew_btn">
            <i class="fas fa-angle-left"></i>
            Audiophile 
            <span>Previous Project</span>
        </a>

        <a 
        routerLink="/projects/easybank" 
        class="next_btn">
            <i class="fas fa-angle-right"></i>
            Easy-bank
            <span>Next Project</span>
        </a>
    </div>  
    
</div>
<!-- Weather App end html -->