<!-- Home component start -->

<header class="hero res-container">
    <!-- Hero Image  -->
    <div class="hero__image"></div>

    <div class="hero__description">
        <h1>
            Hello World I am 
            <span>Imre Boloni</span> <br>
            Web developer!
        </h1>
        <a id="btn" class="default_btn" href="#">Download CV</a>

        <!-- Social Media -->
        <div class="social">
            <a href="https://www.facebook.com/imre.boloni.3" target="__blank"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/Imre17" target="__blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="__blank"><i       class="fab fa-linkedin"></i></a>
        </div>
    </div>

</header>

<!-- Home component end -->
