// Import global SCSS-including all scss files
@import '../../../scss/global.scss';

// Styling home component
.hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background-image: linear-gradient(rgba(221,205,172,1) 0%, rgba(192,210,237,1) 99%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    // Responsive hero
    @include respond(desktop) {
        grid-template-columns: 100%;       
    }

    @include respond(tab-land) {
        display: block;
        padding: 0;
    }
    
    // Hero Image styling
    &__image {
        grid-column: 2/2;
        grid-row: 1/1;
        justify-self: end;
        width: 40.625rem;
        height: 62.5rem;
        background-image: url('../../../assets/home-img/hero_img.png'), url('../../../assets/svg/abstract_gradient.svg');
        background-position: center 5vh;
        background-size: cover;
        background-repeat: no-repeat;

        // Responsive hero image
        @include respond(desktop) {
            grid-column: 1/1;       
            grid-row: 1/1;
        }
        
        @media (max-width: 1050px) {
            grid-column: 1/1;
            background-image: url('../../../assets/home-img/hero_img.png');
            background-position: center top;
            width: 100%;
            filter: blur(0.125rem);
            position: relative;
            z-index: 0;
        }

        
        @include respond(tablet) {
            background-position: center center;
        }
        
    }
    
    // Hero description
    &__description {
        grid-column: 1/2;
        grid-row: 1/1;
        margin-top: 12.5rem;
        z-index: 1;

        // Responsive description
        @media(max-width: 1050px) {
            border: 2px solid $darkBlue;
            width: 90%;
            background-color: rgba($veryLightGrey, 0.4);
            padding: 2rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }

        @include respond(tablet) {
            margin-top: 8rem;
            text-align: center;
        }
        
        @include respond(phone) {
            text-align: center;
            padding: 2rem 0;
        }

        h1 {

            // Manualy resize
            @media (max-width: 1612px) {
                width: 25rem;
                font-size: $H2;
            }

            @include respond(tab-land) {
                width: 100%;
            }

            @include respond(tablet) {
                font-size: 1.8rem;
            }
           
            @include respond(phone) {
                font-size: 1.5rem;
            }


            span {
                color: $slightDesaturatedCyan;
                font-family: $public-sans;

                @include respond(tablet) {
                   display: inline-block;
                }
            }
        }

        #btn {
            margin-top: 2.812rem;

            @include respond(tablet) {
                margin-top: 1rem;
            }

            @include respond(phone) {
                font-size: 0.7rem;
                padding: 0.4rem 1rem;
            }

        }

        // Social buttons
        .social {
           margin-top: 6.25rem;

            @include respond(tablet) {
                font-size: 1.8rem;
                margin-top: 1rem;
            }

            @include respond(phone) {
                font-size: 1.5rem;
            }


           a {
               color: $darkBlue;
               font-size: 1.5rem;

               &:not(:first-child) {
                   margin-left: 3.75rem;
               }

               &:hover {
                   color: $slightDesaturatedCyan;
               }
           }
        }
    }
}