<!-- My Projects -->

<!-- Projects strat -->

<section class="projects res-container">

    <!-- pr-grid and pr-gl-desc are global stylings -->
    <!-- easy-bank html template start -->
    <div class="pr-grid">
        <div class="easyBank-img"></div>
        <div class="easyBank-description pr-gl-desc">
            <h3>Easybank</h3>
            <p>
                This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid/Flexbox and JavaScript for the areas that required interactivity, such as the hamburger -menu and navigation slider for mobile view.
            </p>
            <a routerLink="/projects/easybank" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <!-- easy-bank html template end -->

    <!-- loopstudio html template start -->
    <div class="pr-grid">
        <div class="loopstudio-img"></div>
        <div class="loopstudio-description pr-gl-desc">
            <h3>Loopstudio</h3>
            <p>
                This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid/Flexbox and JavaScript for the areas that required interactivity, such as the hamburger -menu and navigation slider for mobile view.
            </p>
            <a routerLink="/projects/loopstudio" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <!-- loopstudio html template end -->

    <!-- audiophile html template start -->
    <div class="pr-grid">
        <div class="audiophile-img"></div>
        <div class="audiophile-description pr-gl-desc">
            <h3>Audiophile</h3>
            <p>
                Being my first ever bigest project I have developed my skills using Angular and Firebase for backend, in order to build a fully responsive e-commerce website. 
            </p>
            <a routerLink="/projects/audiophile" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <!-- audiophile html template end -->

    <!-- weather app html template start  -->
    <div class="pr-grid">
        <div class="weather-img"></div>
        <div class="weather-description pr-gl-desc">
            <h3>Weather App</h3>
            <p>
                This project required me to build a fully responsive weather forecast page. I've used HTML5, along with Bootstrap and JavaScript and also API obtained from accuweather.
            </p>
            <a routerLink="/projects/weather" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <!-- weather app html template end  -->
    
    <!-- Contact me -->
    <div class="projects__contact-me">
        <h3>Interested in doing a project together?</h3>
        <hr>
        <a routerLink="/contact-me" id="btn" class="default_btn">Contact Me</a>
    </div>
</section>

<!-- Projects end -->