<!-- My Projects -->

<!-- Projects strat -->

<section class="projects res-container">

    <!-- pr-grid and pr-gl-desc are global stylings -->
    <div class="pr-grid">
        <div class="easyBank-img"></div>
        <div class="easyBank-description pr-gl-desc">
            <h3>Easybank</h3>
            <p>This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.</p>
            <a routerLink="/projects/easybank" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <div class="pr-grid">
        <div class="loopstudio-img"></div>
        <div class="loopstudio-description pr-gl-desc">
            <h3>Loopstudio</h3>
            <p>This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.</p>
            <a routerLink="/projects/loopstudio" id="btn" class="default_btn">View Project</a>
        </div>
    </div>
    <div class="pr-grid">
        <div class="audiophile-img"></div>
        <div class="audiophile-description pr-gl-desc">
            <h3>Audiophile</h3>
            <p>This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.</p>
            <a routerLink="/projects/audiophile" id="btn" class="default_btn">View Project</a>
        </div>
    </div>

    <div class="pr-grid">
        <div class="weather-img"></div>
        <div class="weather-description pr-gl-desc">
            <h3>Weather App</h3>
            <p>This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.</p>
            <a routerLink="/projects/weather" id="btn" class="default_btn">View Project</a>
        </div>
    </div>

    <!-- Contact me -->
    <div class="projects__contact-me">
        <h3>Interested in doing a project together?</h3>
        <hr>
        <a routerLink="/contact-me" id="btn" class="default_btn">Contact Me</a>
    </div>
</section>

<!-- Projects end -->