<div class="res-container">

    <br>
    <hr><br>

    <div class="get-in-touch">
        <h1>Get in Touch</h1>

        <div class="description">
            <p>
                I’d love to hear about what you’re working on and how I could help. I’m currently looking for a new role and am open to a wide range of opportunities. My preference would be to find a position in a company in London. But I’m also happy to hear about opportunites that don’t fit that description. I’m a hard-working and positive person who will always approach each task with a sense of purpose and attention to detail. Please do feel free to check out my online profiles below and get in touch using the form.
            </p>

            <div class="social">
                <a href="https://www.facebook.com/imre.boloni.3" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://github.com/Imre17" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <br>
    <hr><br>

    <div class="contact-me">
        <h1>Contact Me</h1>
        
        <form   
            class="form"
            action="https://formsubmit.co/imreboloni17@gmail.com" 
            method="POST">

            <label for="name">Name</label>
            <input class="input-field" type="text" id="name" name="name" placeholder="John Smith">

            <label for="email">Email</label>
            <input class="input-field" type="email" id="email" name="email" placeholder="email@example.com">

            <label for="message">Message</label>
            <textarea class="input-field" name="message" id="message" cols="30"  placeholder="How can I help?"></textarea>

            <button type="submit" class="default_btn" id="btn">Send message</button>
        </form>
    </div>

</div>