/*
0 - 560px:        Phone size
560px - 750px:    Tablet Portrait size
750px - 900px:   Tablet Landscape size
[900px - 1200px] is where our normal styles apply
 
____________________________________

$breakpoint argument choises:
-phone
-tablet
-tab-land
-desktop

1rem = 16px
*/
.items {
  text-decoration: none;
  text-transform: uppercase;
  color: #203a4c;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.items:hover {
  color: #5fb4a2;
}

.default_btn {
  display: inline-block;
  text-decoration: none;
  color: #203a4c;
  padding: 0.625rem 2.437rem;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  border: 0.09375rem solid #33323d;
  cursor: pointer;
}

.default_btn:hover {
  color: #eaeaeb;
  background-color: #203a4c;
}

.tools_btn {
  display: inline-block;
  color: #5fb4a2;
  margin-bottom: 2rem;
  padding: 0.125rem 1.0625rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 75rem) {
  .tools_btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 46.875rem) {
  .tools_btn {
    font-size: 0.8rem;
  }
}

.tools_btn:hover {
  background-color: #203a4c;
  color: #eaeaeb;
}

.prew_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #203a4c;
  font-size: 1.6rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  letter-spacing: 0.0225rem;
  position: relative;
  padding-left: 1.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 35rem) {
  .prew_btn {
    font-size: 1rem;
  }
}

.prew_btn:hover {
  padding-left: 2.5rem;
}

.prew_btn i {
  position: absolute;
  top: 1.875rem;
  left: 0;
}

.prew_btn span {
  color: #33323d;
  font-size: 0.8rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 35rem) {
  .prew_btn span {
    font-size: 0.6rem;
  }
}

.next_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #203a4c;
  font-size: 1.6rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  letter-spacing: 0.0225rem;
  position: relative;
  padding-right: 1.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 35rem) {
  .next_btn {
    font-size: 1rem;
  }
}

.next_btn:hover {
  padding-right: 2.5rem;
}

.next_btn i {
  position: absolute;
  top: 1.875rem;
  right: 0;
}

.next_btn span {
  color: #33323d;
  font-size: 0.8rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 35rem) {
  .next_btn span {
    font-size: 0.6rem;
  }
}

.go-back {
  display: inline-block;
  color: #33323d;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.go-back::before {
  content: '<';
  margin-right: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.go-back:hover {
  color: #5fb4a2;
}

.go-back:hover::before {
  margin-right: 1rem;
}

.pr-gl-desc {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.pr-gl-desc h3 {
  margin-bottom: 2.062rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc h3 {
    margin-bottom: 1.5rem;
  }
}

.pr-gl-desc p {
  max-width: 19.062rem;
  margin-bottom: 2.062rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc p {
    margin-bottom: 1.5rem;
  }
}

.pr-gl-desc #btn {
  font-size: 0.6rem;
  padding: 0.325rem 2.137rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc #btn {
    font-size: 0.5rem;
    padding: 0.125rem 1.837rem;
  }
}

.pr-gl-desc::before {
  content: '';
  width: 100%;
  height: 0.0625rem;
  background-color: #33323d;
  position: absolute;
  left: 0;
  right: 0;
  top: -2.5rem;
  opacity: 0.2;
}

.pr-gl-desc::after {
  content: '';
  width: 100%;
  height: 0.0625rem;
  background-color: #33323d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.5rem;
  opacity: 0.2;
}

.pr-grid {
  height: 31.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 56.25rem) {
  .pr-grid {
    height: 50.25remng;
    gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}

.myWorks-header {
  margin: 3rem 0;
}

.myWorks-header .myWorks-img {
  width: 100%;
  height: 31.25rem;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 46.875rem) {
  .myWorks-header .myWorks-img {
    height: 25rem;
  }
}

@media (max-width: 35rem) {
  .myWorks-header .myWorks-img {
    height: 18.75rem;
  }
}

.myWorks-header .myWorks-img .top-img {
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.myWorks-header .myWorks-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 56.25rem) {
  .myWorks-header .myWorks-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.myWorks-header .myWorks-description .project-background {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 75rem) {
  .myWorks-header .myWorks-description .project-background {
    width: 25.8125rem;
  }
}

@media (max-width: 56.25rem) {
  .myWorks-header .myWorks-description .project-background {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.myWorks-header .myWorks-description .project-background h2 {
  margin-bottom: 3rem;
}

@media (max-width: 75rem) {
  .myWorks-header .myWorks-description .project-background h2 {
    font-size: 2rem;
  }
}

@media (max-width: 56.25rem) {
  .myWorks-header .myWorks-description .project-background h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.myWorks-header .myWorks-description .project-background p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.myWorks-header .myWorks-description .project-background span {
  margin: 0.9375rem;
}

@media (max-width: 75rem) {
  .myWorks-header .myWorks-description .project-background span {
    margin: 0.537rem;
  }
}

.myWorks-header .myWorks-description .project-background #btn {
  font-size: 0.7rem;
  padding: 0.525rem 1.437rem;
}

@media (max-width: 46.875rem) {
  .myWorks-header .myWorks-description .project-background #btn {
    font-size: 0.6rem;
    padding: 0.225rem 1.037rem;
  }
}

.myWorks-header .static-previews {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 56.25rem) {
  .myWorks-header .static-previews {
    width: 100%;
  }
}

.myWorks-header .static-previews h2 {
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 75rem) {
  .myWorks-header .static-previews h2 {
    font-size: 2rem;
  }
}

@media (max-width: 56.25rem) {
  .myWorks-header .static-previews h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.myWorks-header .static-previews .static-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 75rem) {
  .myWorks-header .static-previews .static-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.myWorks-header .static-previews .static-img .img-1 {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
  margin-right: 2rem;
}

@media (max-width: 75rem) {
  .myWorks-header .static-previews .static-img .img-1 {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.myWorks-header .static-previews .static-img .img-2 {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
}

.myWorks-header .buttons {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.0625rem solid rgba(51, 50, 61, 0.3);
  border-bottom: 0.0625rem solid rgba(51, 50, 61, 0.3);
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 56.25rem) {
  .get-in-touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.get-in-touch p {
  width: 38.75rem;
}

@media (max-width: 75rem) {
  .get-in-touch p {
    width: 26.25rem;
  }
}

@media (max-width: 46.875rem) {
  .get-in-touch p {
    width: 100%;
  }
}

.get-in-touch .social {
  margin-top: 2rem;
}

@media (max-width: 56.25rem) {
  .get-in-touch .social {
    text-align: center;
  }
}

.get-in-touch .social a {
  color: #203a4c;
  font-size: 1.5rem;
}

@media (max-width: 35rem) {
  .get-in-touch .social a {
    font-size: 1.2rem;
  }
}

.get-in-touch .social a:not(:first-child) {
  margin-left: 0.9375rem;
}

.get-in-touch .social a:hover {
  color: #5fb4a2;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 56.25rem) {
  .contact-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-me .form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 56.25rem) {
  .contact-me .form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.contact-me .form label {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

@media (max-width: 46.875rem) {
  .contact-me .form label {
    font-size: 0.8rem;
  }
}

.contact-me .form label:not(:first-child) {
  margin-top: 2rem;
}

.contact-me .form .input-field {
  padding: 0.75rem 1.3rem;
  border: none;
  background-color: #eaeaeb;
  outline: none;
}

@media (max-width: 46.875rem) {
  .contact-me .form .input-field {
    font-size: 0.8rem;
  }
}

.contact-me .form #btn {
  width: 12.5rem;
  margin: 3rem 0;
}

@media (max-width: 56.25rem) {
  .contact-me .form #btn {
    margin: 3rem auto;
  }
}

@media (max-width: 46.875rem) {
  .contact-me .form #btn {
    font-size: 0.7rem;
  }
}

@media (max-width: 56.25rem) {
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}
/*# sourceMappingURL=contact-me.component.css.map */