<!-- Loopstudio starting html -->
<div class="loopstudio myWorks-header res-container"> 
    <a routerLink="/projects" class="go-back">Go back</a>
    <div class="myWorks-img">
        <div class="top-img"></div>
    </div>
    <br>
    <hr><br>
    
    <div class="myWorks-description">
 
        <div class="project-background">
            <h2>Project Background</h2>
            <p>
                This project was a front-end challenge from Frontend Mentor. It’s a platform that enables you to practice building websites to a design and project brief. Each challenge includes mobile and desktop designs to show how the website should look at different screen sizes. Creating these projects has helped me refine my workflow and solve real-world coding problems. I’ve learned something new with each project, helping me to improve and adapt my style.
            </p>
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="tools_btn">HTML</a><span>/</span>
            <a href="https://sass-lang.com/" target="_blank" class="tools_btn">SASS</a><span>/</span>
            <a href="https://www.javascript.com/" target="_blank" class="tools_btn">JavaScript</a>
            <br>
            <hr>
            <br>
            <a 
            href="https://imre17.github.io/loopstudio/" 
            target="_blank" 
            class="default_btn" 
            id="btn">Visit Website</a>
        </div>

        <div class="static-previews">
            <h2>Static Previews</h2>
            <div class="static-img">
                <div class="img-1"></div>
                <div class="img-2"></div>
            </div>       
        </div>
        
    </div>


    <div class="buttons">
        <a 
        routerLink="/projects/easybank" 
        class="prew_btn">
            <i class="fas fa-angle-left"></i>
            Easy-bank 
            <span>Previous Project</span>
        </a>

        <a 
        routerLink="/projects/audiophile" 
        class="next_btn">
            <i class="fas fa-angle-right"></i>
            Audiophile 
            <span>Next Project</span>
        </a>
    </div>  
    
</div>