@import '../../../../scss/global.scss';

.top-img {
    background-image: url('../../../../assets/loopstudio/fullpage_loopstudio.png');
}

.img-1 {
    background-image: url('../../../../assets/loopstudio/loopstudio_mid.png');
}

.img-2 {
    background-image: url('../../../../assets/loopstudio/bottom_loopstudio.png');
}

