@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
/*
0 - 560px:        Phone size
560px - 750px:    Tablet Portrait size
750px - 900px:   Tablet Landscape size
[900px - 1200px] is where our normal styles apply
 
____________________________________

$breakpoint argument choises:
-phone
-tablet
-tab-land
-desktop

1rem = 16px
*/
.items {
  text-decoration: none;
  text-transform: uppercase;
  color: #203a4c;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.items:hover {
  color: #5fb4a2;
}

.default_btn {
  display: inline-block;
  text-decoration: none;
  color: #203a4c;
  padding: 0.625rem 2.437rem;
  font-family: "Public Sans", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  border: 0.09375rem solid #33323d;
  cursor: pointer;
}

.default_btn:hover {
  color: #eaeaeb;
  background-color: #203a4c;
}

.tools_btn {
  display: inline-block;
  color: #5fb4a2;
  margin-bottom: 2rem;
  padding: 0.125rem 1.0625rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 75rem) {
  .tools_btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 46.875rem) {
  .tools_btn {
    font-size: 0.8rem;
  }
}

.tools_btn:hover {
  background-color: #203a4c;
  color: #eaeaeb;
}

.prew_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #203a4c;
  font-size: 1.6rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  letter-spacing: 0.0225rem;
  position: relative;
  padding-left: 1.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 35rem) {
  .prew_btn {
    font-size: 1rem;
  }
}

.prew_btn:hover {
  padding-left: 2.5rem;
}

.prew_btn i {
  position: absolute;
  top: 1.875rem;
  left: 0;
}

.prew_btn span {
  color: #33323d;
  font-size: 0.8rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 35rem) {
  .prew_btn span {
    font-size: 0.6rem;
  }
}

.next_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #203a4c;
  font-size: 1.6rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  letter-spacing: 0.0225rem;
  position: relative;
  padding-right: 1.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 35rem) {
  .next_btn {
    font-size: 1rem;
  }
}

.next_btn:hover {
  padding-right: 2.5rem;
}

.next_btn i {
  position: absolute;
  top: 1.875rem;
  right: 0;
}

.next_btn span {
  color: #33323d;
  font-size: 0.8rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 35rem) {
  .next_btn span {
    font-size: 0.6rem;
  }
}

.pr-gl-desc {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.pr-gl-desc h3 {
  color: #203a4c;
  font-size: 2rem;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  letter-spacing: 0.01812rem;
  margin-bottom: 2.062rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.pr-gl-desc p {
  max-width: 19.062rem;
  color: #33323d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 2.062rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}

.pr-gl-desc #btn {
  font-size: 0.6rem;
  padding: 0.325rem 2.137rem;
}

@media (max-width: 35rem) {
  .pr-gl-desc #btn {
    font-size: 0.5rem;
    padding: 0.125rem 1.837rem;
  }
}

.pr-gl-desc::before {
  content: '';
  width: 100%;
  height: 0.0625rem;
  background-color: #33323d;
  position: absolute;
  left: 0;
  right: 0;
  top: -2.5rem;
  opacity: 0.2;
}

.pr-gl-desc::after {
  content: '';
  width: 100%;
  height: 0.0625rem;
  background-color: #33323d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2.5rem;
  opacity: 0.2;
}

.pr-grid {
  height: 31.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 56.25rem) {
  .pr-grid {
    height: 50.25remng;
    gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}

.res-container {
  padding: 0 8rem;
}

@media (max-width: 75rem) {
  .res-container {
    padding: 0 5rem;
  }
}

@media (max-width: 46.875rem) {
  .res-container {
    padding: 0 3rem;
  }
}

@media (max-width: 35rem) {
  .res-container {
    padding: 0 1rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  overflow-x: hidden;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */