// Imports
// Import Font-family
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

// Import global SCSS-including all scss files
@import './global.scss';

//Default styling for the sides (use this class for adding space to the both side of the webpage)!!
.res-container {
    padding: 0 8rem;

    @include respond(desktop) {
        padding: 0 5rem;
    }

    @include respond(tablet) {
        padding: 0 3rem;
    }
    
    @include respond(phone) {
        padding: 0 1rem;
    }
}

// Default styles
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html {
    min-height: 100vh;
    background-color: $veryLightGrey;
    font-size: $body;
    font-weight: $body-weight;
    line-height: $body-LH;
    overflow-x: hidden;
    position: relative;
}

// H and P tags globaly styling
h1 {
    color: $darkBlue;
    font-family: $ibarra;
    font-size: $H1;
    font-weight: $H1-weight;
    line-height: $H1-LH;
    letter-spacing: $H1-LS;
}
h2 {
    color: $darkBlue;
    font-size: $H2;
    font-family: $ibarra;
    font-weight: $H2-weight;
    letter-spacing: $H2-LS;

    @include respond(phone) {
        font-size: 2rem;
    }
}

h3 {
    color: $darkBlue;
    font-size: $H3;
    font-family: $ibarra;
    font-weight: $H2-weight;
    letter-spacing: $H3-LS; 

    @include respond(phone) {
        font-size: 1.5rem;
    }
}

p {
    color: $grayishDarkBlue;
    font-size: $body;
    font-weight: $body-weight;
    line-height: 1.6rem;

    
    @include respond(phone) {
        font-size: 0.8rem;
    }
}

// Logo global style

.logo {
    width: 4.5rem;
    height: 4.5rem;
    background-image: url('../assets/svg/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
