<!-- Footer Start -->
<footer class="footer res-container">

    <a routerLink="/" class="footer__logo"><img src="../../../../assets/svg/logo.png" alt="logo" /></a>

    <!-- Lists of items -->
    <ul class="footer__nav-lists">
        <a class="lists items" routerLink="/">Home</a>
        <a class="lists items" routerLink="about">About</a>
        <a class="lists items" routerLink="projects">Projects</a>
        <a class="lists items" routerLink="contact-me">Contact Me</a>
    </ul>

    <!-- Social media -->
    <div class="footer__social">
        <a href="https://www.facebook.com/imre.boloni.3" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Imre17" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    
</footer>

<!-- Footer end! -->